<header>
  <mat-toolbar color="primary">
    <a routerLink="/" class="logo"></a>
    <button mat-button routerLink="/">
      <h1>Home</h1>
    </button>
    <button mat-button routerLink="/inventory" *ngIf="user">
      <h1>Inventory</h1>
    </button>
    <span class="example-spacer"></span>
    <a class="links side" [routerLink]="['/auth/login']" *ngIf="!user">Login</a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>{{ user.fullname }}
      </a>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngIf="user && user.isAdmin"
          [routerLink]="['/admin']"
        >
          admin
        </button>
        <button mat-menu-item (click)="logout()">logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
