.button-row {
  margin-top: 25px;
}

.mat-form-field {
  margin-left: 25px;
}

.title {
  margin-right: 25px;
  margin-left: 25px;
}

.mat-toolbar {
  padding-left: 0;
}

.mat-raised-button {
  margin-right: 10px;
}

.relic-container {
  position: relative;
}

.relic-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
