<div class="container">
  <div class="row button-row">
    <div class="col">
      <h1 class="title">My Relics</h1>
    </div>
    <div class="col">
      <button mat-raised-button (click)="openSelectRelic()" color="primary">
        <mat-icon>add</mat-icon>
        Add Relics
      </button>
    </div>
    <div class="col">
      <button
        mat-raised-button
        (click)="valueRelics()"
        color="accent"
        matTooltip="Recently valued Relics will be skipped"
      >
        <mat-icon>sync</mat-icon>
        Value Relics
      </button>
    </div>
  </div>

  <form (submit)="refresh()">
    <mat-form-field>
      <input matInput [(ngModel)]="search" placeholder="Search" name="search" />
    </mat-form-field>
  </form>
  <div class="relic-container mat-elevation-z8">
    <div class="relic-table-container">
      <table
        mat-table
        [dataSource]="relics"
        class="example-table"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container matColumnDef="era">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Era</th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.era }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rareDrop">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rare Drop</th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.rareDrop }}
          </td>
        </ng-container>

        <ng-container matColumnDef="minSell">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            matTooltip="Run Value Relics to update."
          >
            Min Sell
          </th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.minSell }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maxBuy">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            matTooltip="Run Value Relics to update."
          >
            Max Buy
          </th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.maxBuy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            <button
              mat-icon-button
              (click)="pop(relic)"
              matTooltip="Delete this Relic"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="total"
        [pageSize]="10"
        [hidePageSize]="true"
      ></mat-paginator>
    </div>
  </div>
</div>
