.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 250px;
  margin: 25px;
}

.mat-card-title {
  font-size: 16px;
}

.mat-card-actions {
  display: flex;
}

.login {
  margin-right: 25px;
}
