<h1 mat-dialog-title>Select a Relic</h1>

<form (submit)="refresh()">
  <mat-form-field>
    <input matInput [(ngModel)]="search" placeholder="Search" name="search" />
  </mat-form-field>
</form>
<div class="relic-table-container">
  <table
    mat-table
    [dataSource]="relics"
    matSort
    matSortActive="created"
    matSortDisableClear
    matSortDirection="desc"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(relic) : null"
          [checked]="selection.isSelected(relic)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="era">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Era</th>
      <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
        {{ relic.era }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
        {{ relic.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rareDrop">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rare Drop</th>
      <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
        {{ relic.rareDrop }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator
  [length]="total"
  [pageSize]="10"
  [hidePageSize]="true"
></mat-paginator>

<div mat-dialog-actions>
  <button
    mat-raised-button
    color="accent"
    (click)="selectRelic()"
    type="button"
    [disabled]="!selection.selected.length"
  >
    <mat-icon>save</mat-icon>
    Save
  </button>
  <span class="mr-auto"></span>
  <button mat-raised-button mat-dialog-close type="button">
    <mat-icon>clear</mat-icon>
    Cancel
  </button>
</div>
