.mr-auto {
  flex: 1 1 auto;
}
.relic-container {
  position: relative;
  min-height: 200px;
}

.relic-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
