<div class="container">
  <mat-toolbar>
    <h1 class="title">All Relics</h1>
    <button mat-raised-button (click)="openEdit()" color="primary" class="add">
      <mat-icon>add</mat-icon>
      Add new Relic
    </button>
  </mat-toolbar>

  <form (submit)="refresh()">
    <mat-form-field>
      <input matInput [(ngModel)]="search" placeholder="Search" name="search" />
    </mat-form-field>
  </form>
  <div class="relic-container mat-elevation-z8">
    <div class="relic-table-container">
      <table
        mat-table
        [dataSource]="relics"
        class="example-table"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container matColumnDef="era">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Era</th>
          <td mat-cell *matCellDef="let relic">
            {{ relic.era }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let relic">
            {{ relic.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rareDrop">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rare Drop</th>
          <td mat-cell *matCellDef="let relic">{{ relic.rareDrop }}</td>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let relic">
            <button
              mat-icon-button
              (click)="openEdit(relic)"
              matTooltip="Update this Relic"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="remove(relic)"
              matTooltip="Delete this Relic"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      [length]="total"
      [pageSize]="10"
      [hidePageSize]="true"
    ></mat-paginator>
  </div>
</div>
