<h1 mat-dialog-title>New Relic Form</h1>

<form
  (submit)="submit()"
  #form="ngForm"
  (keydown.enter)="submit()"
  mat-dialog-content
>
  <mat-form-field>
    <mat-label>Era</mat-label>
    <mat-select
      matInput
      placeholder="Era"
      matTooltip="E.g. Axi"
      required
      [(ngModel)]="relic.era"
      [(value)]="relic.era"
      name="era"
    >
      <mat-option [value]="'Lith'">Lith</mat-option>
      <mat-option [value]="'Meso'">Meso</mat-option>
      <mat-option [value]="'Neo'">Neo</mat-option>
      <mat-option [value]="'Axi'">Axi</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      matTooltip="E.g. A1"
      required
      [(ngModel)]="relic.name"
      name="name"
      pattern="[A-Z]\d\d?"
      #name="ngModel"
    />
    <mat-error *ngIf="name.hasError('required')">
      You must enter a value.
    </mat-error>
    <mat-error *ngIf="name.hasError('pattern')">
      Not a valid name.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Rare Drop"
      matTooltip="E.g. AKLex Prime"
      required
      [(ngModel)]="relic.rareDrop"
      name="rareDrop"
    />
  </mat-form-field>

  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="accent"
      (click)="submit()"
      type="button"
      [disabled]="!form.valid || !form.dirty"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
    <span class="mr-auto"></span>
    <button mat-raised-button (click)="dialogRef.close()" type="button">
      <mat-icon>clear</mat-icon>
      Cancel
    </button>
  </div>
</form>
