<div class="container">
  <mat-toolbar>
    <h1 class="title">All Relics</h1>
  </mat-toolbar>

  <form (submit)="refresh()">
    <mat-form-field>
      <input matInput [(ngModel)]="search" placeholder="Search" name="search" />
    </mat-form-field>
  </form>
  <div class="relic-container mat-elevation-z8">
    <div class="relic-table-container">
      <table
        mat-table
        [dataSource]="relics"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container matColumnDef="era">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Era</th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.era }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rareDrop">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rare Drop</th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.rareDrop }}
          </td>
        </ng-container>

        <ng-container matColumnDef="minSell">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            matTooltip="Log in and create an Inventory to update."
          >
            Min Sell
          </th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.minSell }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maxBuy">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            matTooltip="Log in and create an Inventory to update."
          >
            Max Buy
          </th>
          <td mat-cell *matCellDef="let relic" [bgColor]="eraColors[relic.era]">
            {{ relic.maxBuy }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      [length]="total"
      [pageSize]="10"
      [hidePageSize]="true"
    ></mat-paginator>
  </div>
</div>
