.mat-form-field {
  margin-left: 25px;
}

.title {
  margin-right: 25px;
  margin-left: 25px;
}

.mat-toolbar {
  padding-left: 0;
}

.add {
  padding-left: 5px;
  padding-right: 10px;
}

.relic-container {
  position: relative;
  min-height: 200px;
}

.relic-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
